/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@import "phoenix-colocated/bet_peak/colocated.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@source "../css";
@source "../js";
@source "../../lib/bet_peak_web";

/* Required for Tailwind to automatically pick up changes in colocated CSS files in dev */
@source "../../_build/dev/phoenix-colocated/bet_peak/*/";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. */
@plugin "daisyui/packages/bundle/daisyui" {
  themes: light, dark --prefersdark;
}

@plugin "daisyui/packages/bundle/daisyui-theme" {
  name: "bet-peak";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --font-sans: "Poppins", sans-serif;

  --color-base-100: oklch(98.2% 0.008 85);
  --color-base-200: oklch(95.8% 0.012 85);
  --color-base-300: oklch(90.5% 0.016 82);
  --color-base-content: oklch(19% 0.01 75);

  --color-primary: oklch(75% 0.155 83);
  --color-primary-content: oklch(18% 0.01 75);

  --color-secondary: oklch(20.463% 0 0);
  --color-secondary-content: oklch(97.015% 0 0);

  --color-accent: oklch(79% 0.16 84);
  --color-accent-content: oklch(14.479% 0 0);

  --color-neutral: oklch(55.553% 0 0);
  --color-neutral-content: oklch(97.015% 0 0);

  --color-info: oklch(62.306% 0.188 259.821);
  --color-info-content: oklch(100% 0 0);

  --color-success: oklch(72.274% 0.192 149.600);
  --color-success-content: oklch(14.479% 0 0);

  --color-warning: oklch(76.861% 0.165 70.077);
  --color-warning-content: oklch(14.479% 0 0);

  --color-error: oklch(63.686% 0.208 25.322);
  --color-error-content: oklch(100% 0 0);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */
